<a href="https://colab.research.google.com/github/ruhee98/PL-Soccer-DataAnalysis/blob/main/scraping_soccer_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
standings_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [ ]:
data = requests.get(standings_url)

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(data.text)
standings_table = soup.select('table.stats_table')[0]

standings_df = pd.read_html(str(standings_table))
standings_df[0].info()


current_table = standings_df[0]
current_table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               20 non-null     int64
 1   Squad            20 non-null     object
 2   MP               20 non-null     int64
 3   W                20 non-null     int64
 4   D                20 non-null     int64
 5   L                20 non-null     int64
 6   GF               20 non-null     int64
 7   GA               20 non-null     int64
 8   GD               20 non-null     int64
 9   Pts              20 non-null     int64
 10  Pts/MP           20 non-null     float64
 11  xG               20 non-null     float64
 12  xGA              20 non-null     float64
 13  xGD              20 non-null     float64
 14  xGD/90           20 non-null     float64
 15  Last 5           20 non-null     object
 16  Attendance       20 non-null     int64
 17  Top Team Scorer  20 non-null     object
 18  Goalkeeper       20 non-null     object
 19  Notes            0 non-null      float64
dtypes: float64(6), int64(10), object(4)
memory usage: 3.2+ KB

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Arsenal,30,23,4,3,72,29,43,73,2.43,58.9,31.6,27.3,0.91,W W W W D,60205,Martinelli - 14,Aaron Ramsdale,NaN
1,2,Manchester City,29,21,4,4,75,27,48,67,2.31,61.9,22.2,39.7,1.37,W W W W W,53194,Erling Haaland - 30,Ederson,NaN
2,3,Newcastle Utd,29,15,11,3,48,21,27,56,1.93,49.9,28.8,21.1,0.73,W W W W W,52243,Miguel Almirón - 11,Nick Pope,NaN
3,4,Manchester Utd,29,17,5,7,44,37,7,56,1.93,45.8,38.0,7.8,0.27,L D L W W,73704,Marcus Rashford - 15,David de Gea,NaN
4,5,Tottenham,30,16,5,9,55,42,13,53,1.77,43.2,36.1,7.1,0.24,L W D D W,57543,Harry Kane - 23,Hugo Lloris,NaN
5,6,Aston Villa,30,14,5,11,41,40,1,47,1.57,38.4,43.7,-5.3,-0.18,D W W W W,41664,Ollie Watkins - 12,Emiliano Martínez,NaN
6,7,Brighton,28,13,7,8,52,36,16,46,1.64,51.0,33.0,18.0,0.64,D W D W L,31460,Alexis Mac Allister - 8,Robert Sánchez,NaN
7,8,Liverpool,29,12,8,9,50,35,15,44,1.52,52.0,41.2,10.8,0.37,W L L D D,49397,Mohamed Salah - 13,Alisson,NaN
8,9,Brentford,30,10,13,7,47,40,7,43,1.43,44.0,39.8,4.2,0.14,W D D L L,17073,Ivan Toney - 18,David Raya,NaN
9,10,Fulham,29,11,6,12,39,40,-1,39,1.34,35.2,48.6,-13.5,-0.46,D L L L L,23568,Aleksandar Mitrović - 11,Bernd Leno,NaN
10,11,Chelsea,30,10,9,11,29,31,-2,39,1.30,39.0,36.2,2.8,0.09,W D L D L,39988,Kai Havertz - 7,Kepa Arrizabalaga,NaN
11,12,Crystal Palace,30,8,9,13,29,40,-11,33,1.10,30.2,40.5,-10.3,-0.34,L L L W W,24900,Wilfried Zaha - 6,Vicente Guaita,NaN
12,13,Wolves,30,8,7,15,24,42,-18,31,1.03,30.0,42.9,-13.0,-0.43,W L L D W,31585,Daniel Podence - 6,José Sá,NaN
13,14,West Ham,29,8,6,15,27,39,-12,30,1.03,36.9,35.7,1.3,0.04,L D W L W,62459,"Saïd Benrahma, Jarrod Bowen - 4",Łukasz Fabiański,NaN
14,15,Bournemouth,30,8,6,16,28,57,-29,30,1.00,29.9,51.8,-22.0,-0.73,W L W L W,10359,Philip Billing - 7,Neto,NaN
15,16,Leeds United,30,7,8,15,39,54,-15,29,0.97,37.5,49.5,-12.0,-0.40,D W L W L,36507,Rodrigo - 11,Illan Meslier,NaN
16,17,Everton,30,6,9,15,23,43,-20,27,0.90,32.5,51.7,-19.2,-0.64,D W D D L,39237,Demarai Gray - 4,Jordan Pickford,NaN
17,18,Nott'ham Forest,30,6,9,15,24,54,-30,27,0.90,30.5,47.7,-17.1,-0.57,L L D L L,29177,Brennan Johnson - 8,Dean Henderson,NaN
18,19,Leicester City,30,7,4,19,40,52,-12,25,0.83,35.6,49.1,-13.5,-0.45,L D L L L,31815,Harvey Barnes - 10,Danny Ward,NaN
19,20,Southampton,30,6,5,19,24,51,-27,23,0.77,28.5,42.7,-14.3,-0.48,D L D L L,30502,James Ward-Prowse - 7,Gavin Bazunu,NaN

In [ ]:
soup = BeautifulSoup(data.text)
standings_table = soup.select('table.stats_table')[0]
links = standings_table.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if '/squads/' in l]
links

['/en/squads/18bb7c10/Arsenal-Stats',
 '/en/squads/b8fd03ef/Manchester-City-Stats',
 '/en/squads/b2b47a98/Newcastle-United-Stats',
 '/en/squads/19538871/Manchester-United-Stats',
 '/en/squads/361ca564/Tottenham-Hotspur-Stats',
 '/en/squads/8602292d/Aston-Villa-Stats',
 '/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats',
 '/en/squads/822bd0ba/Liverpool-Stats',
 '/en/squads/cd051869/Brentford-Stats',
 '/en/squads/fd962109/Fulham-Stats',
 '/en/squads/cff3d9bb/Chelsea-Stats',
 '/en/squads/47c64c55/Crystal-Palace-Stats',
 '/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats',
 '/en/squads/7c21e445/West-Ham-United-Stats',
 '/en/squads/4ba7cbea/Bournemouth-Stats',
 '/en/squads/5bfb9659/Leeds-United-Stats',
 '/en/squads/d3fd31cc/Everton-Stats',
 '/en/squads/e4a775cb/Nottingham-Forest-Stats',
 '/en/squads/a2d435b3/Leicester-City-Stats',
 '/en/squads/33c895d4/Southampton-Stats']

In [ ]:
team_urls = [f"https://fbref.com{l}" for l in links]
data2 = requests.get(team_urls[0])
matches = pd.read_html(data2.text, match="Scores & Fixtures")[0]
matches.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2,0,Crystal Palace,1.0,1.2,44.0,25286.0,Martin Ødegaard,4-3-3,Anthony Taylor,Match Report,NaN
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4,2,Leicester City,2.7,0.5,50.0,60033.0,Martin Ødegaard,4-3-3,Darren England,Match Report,NaN
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3,0,Bournemouth,1.3,0.3,57.0,10423.0,Martin Ødegaard,4-3-3,Craig Pawson,Match Report,NaN
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2,1,Fulham,2.6,0.8,71.0,60164.0,Martin Ødegaard,4-3-3,Jarred Gillett,Match Report,NaN
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2,1,Aston Villa,2.4,0.4,59.0,60012.0,Martin Ødegaard,4-3-3,Robert Jones,Match Report,NaN

In [ ]:
fixtures = matches[matches['Match Report'] == "Head-to-Head"]
fixtures.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
41,2023-04-16,14:00,Premier League,Matchweek 31,Sun,Away,NaN,NaN,NaN,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
42,2023-04-21,20:00,Premier League,Matchweek 32,Fri,Home,NaN,NaN,NaN,Southampton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
43,2023-04-26,20:00,Premier League,Matchweek 33,Wed,Away,NaN,NaN,NaN,Manchester City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
44,2023-04-29,17:30,Premier League,Matchweek 34,Sat,Home,NaN,NaN,NaN,Chelsea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN
45,2023-05-07,16:30,Premier League,Matchweek 35,Sun,Away,NaN,NaN,NaN,Newcastle Utd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head-to-Head,NaN

In [ ]:
soup = BeautifulSoup(data2.text)
links = soup.find_all('a')
links = [l.get("href") for l in links]
links = [l for l in links if l and 'all_comps/shooting/' in l]
links

['/en/squads/18bb7c10/2022-2023/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2022-2023/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2022-2023/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2022-2023/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions']

In [ ]:
shooting = pd.read_html(data2.text, match="Shooting")[0]
shooting.head()

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
               Player             Nation                Pos
0      Aaron Ramsdale            eng ENG                 GK
1  Gabriel Dos Santos             br BRA                 DF
2         Bukayo Saka            eng ENG                 FW
3        Granit Xhaka             ch SUI                 MF
4     Martin Ødegaard             no NOR                 MF

  Unnamed: 3_level_0 Unnamed: 4_level_0 Standard                      ...  \
                 Age                90s      Gls  Sh SoT  SoT% Sh/90  ...
0             24-331               30.0        0   0   0   NaN  0.00  ...
1             25-112               29.9        3  26   9  34.6  0.87  ...
2             21-217               28.0       12  67  21  31.3  2.39  ...
3             30-195               27.4        5  31   8  25.8  1.13  ...
4             24-114               27.4       10  77  23  29.9  2.81  ...

                    Expected                           Unnamed: 22_level_0
   Dist FK PK PKatt       xG npxG npxG/Sh G-xG np:G-xG             Matches
0   NaN  0  0     0      0.0  0.0     NaN  0.0     0.0             Matches
1  12.5  0  0     0      4.3  4.3    0.16 -1.3    -1.3             Matches
2  16.0  0  2     2      8.8  7.4    0.11  3.2     2.6             Matches
3  17.8  3  0     0      3.0  3.0    0.10  2.0     2.0             Matches
4  19.6  8  0     0      8.2  8.2    0.11  1.8     1.8             Matches

[5 rows x 23 columns]

In [ ]:
shooting.columns = shooting.columns.droplevel()

In [ ]:
shooting

,Player,Nation,Pos,Age,90s,Gls,Sh,SoT,SoT%,Sh/90,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
0,Aaron Ramsdale,eng ENG,GK,24-331,30.0,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
1,Gabriel Dos Santos,br BRA,DF,25-112,29.9,3,26,9,34.6,0.87,...,12.5,0,0,0,4.3,4.3,0.16,-1.3,-1.3,Matches
2,Bukayo Saka,eng ENG,FW,21-217,28.0,12,67,21,31.3,2.39,...,16.0,0,2,2,8.8,7.4,0.11,3.2,2.6,Matches
3,Granit Xhaka,ch SUI,MF,30-195,27.4,5,31,8,25.8,1.13,...,17.8,3,0,0,3.0,3.0,0.10,2.0,2.0,Matches
4,Martin Ødegaard,no NOR,MF,24-114,27.4,10,77,23,29.9,2.81,...,19.6,8,0,0,8.2,8.2,0.11,1.8,1.8,Matches
5,Martinelli,br BRA,FW,21-296,27.0,14,72,27,37.5,2.66,...,15.6,2,0,0,8.5,8.5,0.12,5.5,5.5,Matches
6,Ben White,eng ENG,DF,25-184,25.9,2,8,2,25.0,0.31,...,17.6,0,0,0,1.3,1.3,0.16,0.7,0.7,Matches
7,William Saliba,fr FRA,DF,22-017,26.8,2,6,3,50.0,0.22,...,13.8,0,0,0,0.9,0.9,0.15,1.1,1.1,Matches
8,Thomas Partey,gh GHA,MF,29-301,22.3,3,25,4,16.0,1.12,...,19.9,0,0,0,2.0,2.0,0.08,1.0,1.0,Matches
9,Oleksandr Zinchenko,ua UKR,DF,26-116,20.3,1,26,7,26.9,1.28,...,22.6,0,0,0,1.3,1.3,0.05,-0.3,-0.3,Matches
10,Gabriel Jesus,br BRA,FW,26-007,15.5,8,57,23,40.4,3.67,...,10.7,0,1,1,11.0,10.2,0.18,-3.0,-3.2,Matches
11,Eddie Nketiah,eng ENG,FW,23-315,11.1,4,40,14,35.0,3.60,...,11.4,0,0,0,7.4,7.4,0.19,-3.4,-3.4,Matches
12,Leandro Trossard,be BEL,FW,28-127,6.2,1,10,3,30.0,1.62,...,16.4,0,0,0,1.4,1.4,0.14,-0.4,-0.4,Matches
13,Takehiro Tomiyasu,jp JPN,DF,24-156,7.4,0,3,0,0.0,0.41,...,12.1,0,0,0,0.2,0.2,0.07,-0.2,-0.2,Matches
14,Kieran Tierney,sct SCO,DF,25-309,5.9,0,6,2,33.3,1.01,...,24.5,0,0,0,0.3,0.3,0.05,-0.3,-0.3,Matches
15,Jorginho,it ITA,MF,31-111,4.3,0,3,0,0.0,0.70,...,20.7,0,0,0,0.1,0.1,0.04,-0.1,-0.1,Matches
16,Rob Holding,eng ENG,DF,27-202,3.2,0,1,0,0.0,0.31,...,16.5,0,0,0,0.0,0.0,0.03,0.0,0.0,Matches
17,Fabio Vieira,pt POR,"MF,FW",22-315,4.6,1,13,2,15.4,2.82,...,19.8,0,0,0,0.7,0.7,0.06,0.3,0.3,Matches
18,Albert Sambi Lokonga,be BEL,MF,23-170,2.2,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
19,Mohamed Elneny,eg EGY,MF,30-273,1.3,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
20,Emile Smith Rowe,eng ENG,"FW,MF",22-256,1.4,0,4,1,25.0,2.95,...,15.8,0,0,0,0.3,0.3,0.07,-0.3,-0.3,Matches
21,Reiss Nelson,eng ENG,FW,23-121,1.2,3,6,5,83.3,5.09,...,16.9,1,0,0,0.7,0.7,0.13,2.3,2.3,Matches
22,Cédric Soares,pt POR,DF,31-222,0.3,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
23,Jakub Kiwior,pl POL,DF,23-054,0.2,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
24,Marquinhos,br BRA,MF,20-003,0.0,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
25,Ethan Nwaneri,eng ENG,FW,16-020,0.0,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
26,Squad Total,NaN,NaN,25.2,30.0,69,481,154,32.0,16.03,...,16.2,14,3,3,58.9,56.9,0.12,10.1,9.1,NaN
27,Opponent Total,NaN,NaN,27.5,30.0,28,257,99,38.5,8.57,...,16.3,6,2,4,31.6,28.5,0.11,-3.6,-2.5,NaN

In [ ]:
import time
years = [2021, 2022]
all_matches = []

for year in years:
    data = requests.get(standings_url)
    soup = BeautifulSoup(data.text)
    standings_table = soup.select('table.stats_table')[0]

    links = [l.get("href") for l in standings_table.find_all('a')]
    links = [l for l in links if '/squads/' in l]
    team_urls = [f"https://fbref.com{l}" for l in links]
    
    previous_season = soup.select("a.prev")[0].get("href")
    standings_url = f"https://fbref.com{previous_season}"
    
    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-Stats", "").replace("-", " ")
        data2 = requests.get(team_url)
        matches = pd.read_html(data2.text, match="Scores & Fixtures")[0]
        soup2 = BeautifulSoup(data2.text)
        links = [l.get("href") for l in soup2.find_all('a')]
        links = [l for l in links if l and 'all_comps/shooting/' in l]
        data3 = requests.get(f"https://fbref.com{links[0]}")
        shooting = pd.read_html(data3.text, match="Shooting")[0]
        shooting.columns = shooting.columns.droplevel()
        try:
            team_data = matches.merge(shooting[["Date", "Sh", "SoT", "SoT%", "G/Sh", "G/SoT", "Dist", "FK", "PK", "PKatt"]], on="Date")
        except ValueError:
            continue
        team_data = team_data[team_data["Comp"] == "Premier League"]
        
        team_data["Season"] = year
        team_data["Team"] = team_name
        all_matches.append(team_data)
        time.sleep(5)

In [ ]:
all_fixtures = []
for team_url in team_urls:
    team_name = team_url.split("/")[-1].replace("-Stats", "").replace("-", " ")
    data2 = requests.get(team_url)
    matches = pd.read_html(data2.text, match="Scores & Fixtures")[0]
    fixtures = matches[matches['Match Report'] == 'Head-to-Head']
    fixtures["Team"] = team_name
    all_fixtures.append(fixtures)

In [ ]:
fixtures_df = pd.concat(all_fixtures)
fixtures_df = fixtures_df.dropna(axis='columns')

In [ ]:
fixtures_df.to_csv("PL_latest_fixtures.csv")

In [ ]:
len(all_matches)

60

In [ ]:
match_df = pd.concat(all_matches)

In [ ]:
match_df.columns = [c.lower() for c in match_df.columns]

In [ ]:
match_df.sort_values(by='date', ascending=False)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sot,sot%,g/sh,g/sot,dist,fk,pk,pkatt,season,team
39,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,W,2,1,Burnley,...,5.0,71.4,0.14,0.20,23.0,0.0,1.0,1.0,2021,Newcastle United
41,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,L,1,3,Liverpool,...,5.0,71.4,0.14,0.20,14.7,0.0,0.0,0.0,2021,Wolverhampton Wanderers
43,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,L,1,2,Leeds United,...,5.0,35.7,0.07,0.20,13.7,0.0,0.0,0.0,2021,Brentford
48,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Away,L,0,1,Crystal Palace,...,4.0,40.0,0.00,0.00,19.8,1.0,0.0,0.0,2021,Manchester United
61,2022-05-22,16:00,Premier League,Matchweek 38,Sun,Home,W,3,1,Wolves,...,7.0,24.1,0.10,0.43,15.6,0.0,0.0,0.0,2021,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2019-08-10,15:00,Premier League,Matchweek 1,Sat,Away,L,0,3,Burnley,...,3.0,27.3,0.00,0.00,18.7,1.0,0.0,0.0,2023,Southampton
1,2019-08-10,12:30,Premier League,Matchweek 1,Sat,Away,W,5,0,West Ham,...,8.0,61.5,0.31,0.50,16.7,0.0,1.0,1.0,2023,Manchester City
0,2019-08-10,17:30,Premier League,Matchweek 1,Sat,Away,L,1,3,Tottenham,...,4.0,57.1,0.14,0.25,19.8,0.0,0.0,0.0,2023,Aston Villa
1,2019-08-09,20:00,Premier League,Matchweek 1,Fri,Home,W,4,1,Norwich City,...,7.0,46.7,0.20,0.43,17.1,1.0,0.0,0.0,2023,Liverpool
0,2019-08-09,20:00,Premier League,Matchweek 1,Fri,Away,L,1,4,Liverpool,...,5.0,41.7,0.08,0.20,17.3,1.0,0.0,0.0,2023,Norwich City

In [ ]:
match_df.to_csv("PL_matches.csv")